* {
    justify-content: center;
    text-align: center;
}

body {
    background: goldenrod;
}

img {
    width: 7.5rem;
}

ul {
    list-style: none;
}

.fresh{
    text-align: right;
}

.eaten{
    text-align: left;
}