* {
    justify-content: center;
    text-align: center;
}

body {
    background: goldenrod;
}

img {
    width: 7.5rem;
}

ul {
    list-style: none;
}

li {
    background: #FF8000;
    border: 1px solid #FF7000;
}

.fresh{
    text-align: right;
}

.eaten{
    text-align: left;
}